@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Comfortaa&family=Kalnia:wght@200&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: poppins;
}

body {
    background-image: url("/bg.webp");
}

.navbar {
    height: 12vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.navbar ul {
    display: flex;
    gap: 40px;
}

.navbar ul li {
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
}

ul h4 {
    cursor: pointer;
}

.navbar ul img {
    width: 10vw;
}

input {
    padding: 10px 15px;
    background-color: aliceblue;
    border: none;
    border-radius: 4px;
    outline: none;
    box-shadow: inset 5px 9px 6px rgb(114, 114, 114);
    font-size: 14px;
}

.products {
    height: min-content;
    width: 100%;
    background-color: rgba(201, 205, 209, 0.531);
    display: inline-block;

}

.products h1 {
    padding: 5vh 0;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    font-family: serif;
    text-transform: uppercase;
}

.prods {
    height: 55vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
}

.cards {
    height: 80%;
    width: 30%;
    /* background-color: green; */
    margin: 1.5%;
    border-radius: 6px;
    border: 1px solid black;
    overflow: hidden;
    perspective: 200px;
    transition: all 0.6s;
}

.cards:hover {
    transform: rotateX(15deg);

}

.cards img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    object-position: center;


}

.cards h4 {
    padding: 0 10px;
    font-weight: 100;
}

footer {
    height: 80vh;
    width: 100%;
    /* background-color: #222; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
    color: white;
}

footer ul img {
    height: 20vh;
    /* width: 60%; */
}

footer input {
    margin: 10px 0;
}

.footer-objects {
    width: 70%;
    /* margin-left: 15%; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 35px;
}

footer h2 {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 900;
    padding: 2%;
    text-align: center;
}

.obj {
    width: 35%;
}



.horizantal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer p {
    text-align: center;
    font-size: 15px;
}

footer button {
    padding: 10px 15px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 6px;
    margin-top: 5px;
    margin-left: 30%;
    cursor: pointer;
    transition: all 0.5s;
}

footer button:hover {
    background-color: aliceblue;
    color: black;
}

.obj3 input {
    margin-left: 15%;
}

.show {
    display: none;
    position: absolute;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.242);
    backdrop-filter: blur(2px);
    color: black;
    margin-left: -5%;
    text-align: center;
    border-radius: 6px;
    z-index: 100;
}

.show li {
    padding: 5px 10px;
    border-radius: 6px;
    margin: 5px;
    background-color: rgb(224, 232, 240);
    transition: all 0.5s;
}

.show li:hover {
    background-color: transparent;
}

.show a {
    color: black;
}

.hover:hover .show {
    display: block;
}

a {
    color: white;
}

.hero {
    height: 70vh;
    width: 100%;
    position: relative;
    z-index: 12;
}

.hero img {
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-cont {
    height: 45vh;
    width: 42%;
    background-color: transparent;
    box-shadow: 3px 8px 10px black, inset 3px 8px 10px black;
    /* backdrop-filter: blur(2px); */
    border-radius: 7px;
    position: absolute;
    bottom: 18%;
    left: 30%;
}

.hero-cont h1 {
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    font-family: serif;
    padding: 15% 0;
    padding-bottom: 2%;
}

.hero-cont p {
    padding: 5%;
    text-align: center;
    font-weight: 19px;
    font-weight: 500;
}

.hero-cont button {
    padding: 10px 30px;
    background-color: red;
    border-radius: 6px;
    border: none;
    outline: none;
    transition: all 0.4s;
    margin-left: 40%;
    color: white;
}

.hero-cont button:hover {
    box-shadow: 2px 4px 5px black;
    color: black;
}

.about {
    height: 50vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about h1 {
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
}

.about button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}